<div style="padding: 10px; border: 1px solid #000;">
  <%= link_to 'Home', root_path %> | 
  <%= link_to 'All Desserts', desserts_path %> |
  <%= link_to 'Create a New Dessert', new_dessert_path %> | 
  <%= link_to 'All Stores', stores_path %>
</div>